:root {
  --btn-blue: linear-gradient(135deg, #3b82f6, #2563eb);
  --btn-purple: linear-gradient(135deg, #9333ea, #7e22ce);
  --btn-green: linear-gradient(135deg, #10b981, #059669);
  --btn-orange: linear-gradient(135deg, #f97316, #ea580c);
  --btn-podcast: linear-gradient(135deg, #ec4899, #db2777);
  --btn-gray: linear-gradient(135deg, #94a3b8, #64748b);
  --btn-code: linear-gradient(135deg, #06b6d4, #0e7490); /* Tailwind cyan range */
  --btn-yellow: linear-gradient(135deg, #f59e0b, #d97706);
  --google-blue: linear-gradient(135deg, #4285F4, #1a73e8);
  --wiki-grey: linear-gradient(135deg, #545454, #2e2e2e);


}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  margin: 0px 0;
}

.icon-btn {
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  padding: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.icon-btn:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

@media (max-width: 600px) {
  .icon-btn {
    font-size: 18px;
    width: 34px;
    height: 34px;
    padding: 6px;
  }
}
